$TTL 600      ; 10 min
@       IN  SOA dns.juanpe.gonzalonazareno.org. admin@example.org. (
    {{ ansible_date_time.epoch }}   ; serial
    3600  ; refresh (1 hour)
    600   ; retry (10 min)
    86400 ; expire (1 day)
    600   ; minimum (1 hour)
    )
$ORIGIN juanpe.gonzalonazareno.org.
@       IN  NS  dns
dns     IN  A   {{ hostvars['dns']['ansible_host'] }}
apache  IN  A   {{ hostvars['apache']['ansible_host'] }}
mysql   IN  A   {{ hostvars['mysql']['ansible_host'] }}
docker  IN  A   {{ hostvars['docker']['ansible_host'] }}
