{# roles/infra/templates/inventory-infra.j2 #}
# inventories/infra.yml
---
all:
  vars:
    # ANSIBLE COMMONS VARS
    ansible_python_interpreter: "/usr/bin/python3"
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_ssh_transfer_method: scp
    ansible_user: ubuntu
  hosts:
  {% for server in servers_fact.results %}
  {{ server.item.name }}:
      ansible_host: {{ server.openstack.public_v4 }}
      private_ip: {{ server.openstack.private_v4 }}
  {% endfor %}
