# host_vars/local/auth.yml
---

auth:
  auth_url: "https://domain.com:5000/v3"
  project_id: "x00x0x0x0x0x0x00x0x0x0x0x0x0x0x0"
  project_name: "Proyecto de username"
  user_domain_name: "domain"
  username: "username"
  password: "XpassX"