<VirtualHost *:80>
        ServerName {{ user_hosting }}.juanpe.gonzalonazareno.org
        ServerAdmin webmaster@localhost

        ProxyPreserveHost On
        ProxyPass / http://docker.juanpe.gonzalonazareno.org:{{ hosting_http_port }}/
        ProxyPassReverse / http://docker.juanpe.gonzalonazareno.org:{{ hosting_http_port }}/

        ErrorLog /var/log/apache2/{{ user_hosting }}_error_log
        CustomLog /var/log/apache2/{{ user_hosting }}_access_log combined
</VirtualHost>
